extends layouts/main

block content
    .form-container
        h3.title=title
        form(action=routes.editVideo(video._id), method="post")
            .input-container
                label(for="title") Title
                span Required
                input.input(type="text", name="title", id="title", value=video.title)
            .input-container
                label(for="description") Description
                span Required
                textarea.input(name="description", id="description")=video.description
            input.input(type="submit", value="Edit Video")
        a(href=routes.deleteVideo(video._id))
            button Delete Video