extends layouts/main
include mixins/userBlock

block content
    .video-detail
        video(src=`/${video.videoUrl}` controls)
        .video-info
            .video-info__column
                h2=video.title
                a(href=`${routes.editVideo(video._id)}`)
                    button Edit Video
            .video-info__column
                span 1M views &bullet; #{video.createdAt}
                .action-btns
                    button
                        if (like)
                            i.fas.fa-heart
                        else
                            i.far.fa-heart
                        span=video.like
        +userBlock({
            avatarUrl: video.creator.avatarUrl,
            name: video.creator.name,
            description: video.description
        })
        section.comments
            if (video.comments.length === 1)
                h2.comments__counter #{video.comments.length} Comment
            else
                h2.comments__counter #{video.comments.length} Comments
            form
                img(src=loggedUser.avatarUrl, alt=loggedUser.name)
                input(type="text", placeholder="Add your comment")
            ul
                each item in video.comments.reverse()
                    li.comment
                        img(src=item.commentor.avatarUrl)
                        .comment__content
                            h4=item.commentor.name
                            span.text=item.comment
                            .comment__btns
                                button
                                    i.fas.fa-heart
                                    span 20
                                button.reply reply