mixin commentBlock(comment = {})
    li.commentor(data-comment-id=comment.id)
        .commentor-info
            a(href="#")
                img(src=comment.avatarUrl)
            .metadata-and-actions
                .metadata
                    .name-and-created-date
                        a(href="#")
                            span.name=comment.name
                        span.created-date=comment.createdAt
                    span.comment=comment.text
                .actions
                    button
                        i.far.fa-heart
                        span 1K
                    //- button.reply
                    //-     span reply
                    button.deleteBtn
                        i.fas.fa-trash-alt
        button.more-btn
            i.fas.fa-ellipsis-v