extends layouts/main

block content
    article.edit-profile
        .page-info-and-form-container
            section.page-info
                h1.pageTitle Edit Profile
                p.description
                    |Welcome to WeTube!<br>
                    |You can sign up with our site by filling out the form or using social login.
            form.form-container#jsForm(action=`${routes.user}${routes.editProfile}`, method="post", enctype="multipart/form-data")
                .input-container
                    h5.title Avatar File
                    span.msg.hidden message
                    input.input(type="file", name="avatarFile", accept="image/*")
                .input-container
                    h5.title.large Name
                    span.msg.hidden message
                    input.input(type="text", name="name", required, value=loggedUser.name)
                input(type="submit", value="Edit Profile")
                .divider
                    .line
                    span or
                    .line
                ul.additional-btns
                    li.btn
                        a.change-password-link(href=`${routes.user}${routes.changePassword}`)
                            span Change Password