extends layouts/main

block content
    article.user-detail
        section.channel-info
            img(src=`/${loggedUser.avatarUrl}`)
            .metadata
                .user-info-and-tabs
                    .user-info-and-btns
                        .user-info
                            h3.name=loggedUser.name
                        ul.btns
                            li.btn
                                a(href=routes.editProfile(loggedUser.id))
                                    span Edit Profile
                            li.btn
                                a(href=`${routes.video}${routes.upload}`)
                                    span Upload
                            li.btn
                                span Subscribe
                    ul.tabs
                        li.tab.active
                            span Home
                        li.tab
                            span Videos
                        li.tab
                            span Playlists
        section.tab-content