extends layouts/main
include mixins/commentBlock

block content
    article.video-detail
        section.video-player
            video(src=video.videoFile)
        .video-detail-metadata
            .video-info-and-channel-info
                section.video-info
                    span.title=video.title
                    .views-and-actions
                        span.views  #{video.views} views &#8901; #{video.createdAt}
                        ul.actions
                            li
                                button
                                    i.far.fa-heart
                                    span 1K
                            li
                                button
                                    i.fas.fa-plus
                                    span save
                .channel-and-description
                    section.channel
                        .creator
                            a(href=routes.channelDetail(video.creator.id))
                                img(src=video.creator.avatarUrl)
                            .metadata
                                a.name(href=routes.channelDetail(video.creator.id))
                                    span=video.creator.name
                                span.subscribers 1M subscribers
                        ul.btns
                            if (loggedUser)
                                if (loggedUser.id === video.creator.id)
                                    button
                                        a(href=routes.editVideo(video.id)) Edit video
                                else
                                    button.subscribe Subscribe
                            else
                                button.subscribe Subscribe
                    section.video-description
                        span.description=video.description
                        button.more-btn More
            .horizontal-divider
            section.comments
                h5.comment-count #{video.comments.length} Comments
                if (loggedUser)
                    form.comment-form#commentGenerator
                        .avatar-and-text
                            img#commentorData(src=loggedUser.avatarUrl, data-commentor-name=loggedUser.name, data-link=routes.channelDetail(loggedUser.id))
                            input(type="text", placeholder="Add your comment...", autocomplete="off")
                        .btns
                            button.cancel-btn Cancel
                            input.submit-btn(type="submit", value="comment")
                ul.commentors#commentorList
                    each comment in video.comments.reverse()
                        +commentBlock({
                            name: comment.commentor.name,
                            avatarUrl: comment.commentor.avatarUrl,
                            text: comment.comment,
                            createdAt: comment.createdAt
                        })