extends layouts/main

block content
    article.video-detail
        section.video-player
            video(src=video.videoFile)
        .video-detail-metadata
            .video-info-and-channel-info
                section.video-info
                    span.title=video.title
                    .views-and-actions
                        span.views  #{video.views} views &#8901; #{video.createdAt}
                        ul.actions
                            li
                                button
                                    i.far.fa-heart
                                    span 1K
                            li
                                button
                                    i.fas.fa-plus
                                    span save
                .channel-and-description
                    section.channel
                        .creator
                            a(href=routes.channelDetail(video.creator.id))
                                img(src=video.creator.avatarUrl)
                            .metadata
                                a.name(href=routes.channelDetail(video.creator.id))
                                    span=video.creator.name
                                span.subscribers 1M subscribers
                        ul.btns
                            if (loggedUser)
                                if (loggedUser.id === video.creator.id)
                                    button
                                        a(href=routes.editVideo(video.id)) Edit video
                                else
                                    button.subscribe Subscribe
                            else
                                button.subscribe Subscribe
                    section.video-description
                        span.description=video.description
                        button.more-btn More
            .horizontal-divider
            section.comments
                form.comment-form#commentGenerator(action="#", method="#")
                    .avatar-and-text
                        img(src="/static/profile.png")
                        input(type="text", name="comment", placeholder="Add your comment...", autocomplete="off")
                    .btns.hidden
                        button.cancel-btn Cancel
                        input.submit-btn(type="submit", value="comment")
                ul.commentors#commentors
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v